// Here you can add other styles

.centered {
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.light-gray-background {
  background-color: #f0f3f5;
}

.loading {
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  margin-top: 66px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button:focus {
  outline: 5px auto $primary;
}

.cursor-pointer{
  cursor: pointer;
}
