// Variable overrides

// NOTE This file contains new variables and general variable overrides for CoreUI SASS && Bootstrap SASS

//$$$ Base Color Variables $$$//

// $success: ;
$info: #17a2b8;
// $light: ;
// $dark: ;
// $border-color: ;

// $primary: #3399dc;
$primary: #00723e;
// $lightest-brown: #c76b00;
// $light-brown: #b05e00; 9b5301
// $brown: #723e02;
$secondary: #9b5301;
$aka-olive: #c1cd23;
$danger: #d21034;
$warning: #fff44f;
$hover-color-for-fff: #fff;
// $tertiary: #fbfcef;
//
// $theme-colors: (
//   "tertiary": #FBFCEF
// );
//
// //$$$ Body $$$///
//
// $body-bg: #F0F1F7;
// $body-color: ;

// $layout-transition-speed: .25s;
